.overlay-img:hover {
    cursor: pointer;
}

.overlay-btn {
    background-color: transparent;
    border: transparent;
    color: black;
    padding: 5px 5px 5px 5px;
}

.overlay-btn:hover {
    background-color: transparent;
    color: black;
    font-weight: bold;
}

.overlay-btn:active {
    background-color: rgb(255, 202, 44);
    border-radius: 5px;
    font-weight: bolder;
}